* {
    margin: 0;
    padding: 0;
}
/* Grid Setup */
body {
    background-color: #008000;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 10.5fr 1fr;
}
/* Header Style */
header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffff00;
    display: flex;
}
header h1 {
    flex: 1.25;
    text-align: center;
}
header nav {
  flex: 1;
  display: flex;
  background: silver;
}
header nav ul {
    flex: 1;
    display: flex;
}
header nav ul li {
    flex: 1;
}
li {
  display: flex;
  justify-content: center;
  align-self: center;
}
a {
  text-decoration: none;
}
/* Side Bar Style */
aside {
    background-color: #800080;
}
/* Main Style */
main {
    background-color: #ff0000;
}
/* Footer Style */
footer {
    background-color: #0000ff;
    grid-column-start: 1;
    grid-column-end: 3;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    text-align: center;
}
